/*---------------------OM OS -------------------------------------*/
.wascentrer {
    text-align: center;
}
.wastekstboks {
    border-color: forestgreen !important;
    background: white;
    border-radius: 2em;
}