/*---------------------OM OS -------------------------------------*/
.wascentrer {
    text-align: center;
}
.wastekstboks {
    border-color: darkorange!important;
    background: white;
    border-radius: 2em;
}
.wastekstboks p{
    color: darkblue;
}
.wastekstboks h2{
    color: darkblue;
}