/*---------------------OM OS -------------------------------------*/
.wascentrer {
    text-align: center;
}

.wastekstboks {
    border-color: darkorange !important;
    background: white;
    border-radius: 2em;
}

.wastekstboks p {
    color: darkblue;
}

.wastekstboks h2 {
    color: darkblue;
}

/*____________________ HEADER ___________________________________ METTE */
.navbar {
    margin-bottom: 0;
}

/*------------------- FOOTER ------------------------------------METTE*/

.clearermed {
    clear: both;
    width: 100%;
    height: 25px;
}
/* Dette er bootstrap*/
.visible-xs-block, .visible-xs-inline, 
.visible-xs-inline-block {
    display: none !important
}

@media(max-width:767px) {
    .visible-xs {
        display: block !important
            
    }
    
    .lasseMargin{
        margin-left:0em;
        margin-right:0em;
    }
}

@media(max-width:767px) {
    .visible-xs-block {
        display: block !important
    }
}

@media(max-width:767px) {
    .visible-xs-inline {
        display: inline !important;
    }
}

@media(max-width:767px) {
    .visible-xs-inline-block {
        display: inline-block !important;
    }
}
/* Dette fjerner margin i toppen */
.no-margin-top {
    margin-top: 0 !important;
}
/* Dette gør at der ikke er nogen margin */
.no-margin {
    margin: 0 !important;
}

.footer ul li a {
    font-size: 0.8em;
    color: #555;
    text-decoration: underline;
}
/* class vertical-align gør at teksten vil rykke med efter hvordan columns i BS bliver vist*/
.vertical-align-35 {
    margin-top: 35%;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    align-self: center;
}

.vertical-align.content-centered > [class*=" col-"] {
    justify-content: center;
    text-align: center;
}

.topfooter {
    position: static;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}
/*Dette gør border farven gennemsigtig*/
.topfooter {
    border-color: black;
}

/*____________________________GENERELT KNAP______________________ */
.mutuumknap {
  background-color: rgb(47, 79, 79);
  border-color: rgb(47, 79, 79); 
}

/* __________________________MIN SIDE_____________________________MAJA og METTE*/
 .minprofilpaaminside {
        background-color: whitesmoke !important;
    }


/*________________________ FORSIDE _______________________________ WASFIA */ 
.p {
     font-size: 1em;
}
  .margin {
      margin-bottom: 0.8em;
}
  .bg-1 { 
    background-color: darkslategrey;
    color: #ffffff;
    }
    .bg-2 { 
    background-color: white;
    color: black;
    }
   .wasfarve {
    border-color: orange;
    background: white;
    border-radius: 4em;
    margin-left: 3.5em;
    margin-right: 3.5em;
    margin-top: -1em;
    }
    .wasfarve p{
    color: black;
    }
    .wasbokse {
    border-radius: 8em;
    color: black;
    background: white;
    }
    .wasbokserne {
    width: 85%;
    }
    .wasknap {
    border-radius: 2em;
    }
    .wastekst {
    color: white;
    }

/*____________________________ OM OS _____________________ WASFIA */
  .wasoverskrift {
    background-color: darkslategrey;
    color: white;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  @media screen {
      .waslogo {
      text-align: center;
      margin: 3em 0;
    }
  }
      .wasmargin {
          margin-top: -2em;
      }


.lasseMargin{
    margin-left:15em;
    margin-right:15em;
    
}
